{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<h1>Name: {{ name }}</h1>
<h1>Class: {{ class }}</h1>

<div class="card">
    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    {{message}}
    {% for item in items %}
        <div class="card">
            <h3>{{ item.name }}</h3>
            <p><strong>Amount:</strong> {{ item.amount }}</p>
            <p><strong>Type:</strong> {{ item.type }}</p>
            <p><strong>Quality:</strong> {{ item.quality }}</p>
            <p><strong>Description:</strong> {{ item.description }}</p>
            <a href="{% url 'main:decrement_item' item.id %}">
                <button>-</button>
            </a>
            <span>{{ item.amount }}</span>
            <a href="{% url 'main:increment_item' item.id %}">
                <button>+</button>
            </a>
            <a href="{% url 'main:delete_item' item.id %}">
                <button>Delete</button>
            </a>
        </div>
    {% endfor %}
</div>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_item' %}">
    <button class="add-new-product">Add New Product</button>
</a>

<a href="{% url 'main:logout' %}">
    <button class="logout">Logout</button>
</a>

<div id="item_table"></div>

<button style="margin-left: 30px; margin-bottom: 30px;
        background-color: #5ea8c1; border: 1px solid #e2c4c4; color: #f3d3d3; display: block; border-radius: 6px; width: 3in; font-size: 20px; align-content: center; margin-right: 4%;" 
      type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Order Card Here using AJAX!</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>


<script>
  async function getItems() {
    return fetch("{% url 'main:get_item_ajax' %}").then((res) => res.json())
  }

  async function refreshItems() {
    document.getElementById("item_table").innerHTML = ""
    const products = await getItems()
    let htmlString = `<tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Quality</th>
        <th>Description</th>
    </tr>`
    products.forEach((item) => {
        htmlString += `\n<tr>
        <td>${item.fields.name}</td>
        <td>${item.fields.amount}</td>
        <td>${item.fields.type}</td>
        <td>${item.fields.Quality}</td>
        <td>${item.fields.Description}</td>
    </tr>` 
    })
    
    document.getElementById("item_table").innerHTML = htmlString
  }

  refreshItems()

  async function addItems() {
      fetch("{% url 'main:create_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshItems)

      document.getElementById("form").reset()
      return false
  }

  document.getElementById("button_add").onclick = addItems

  async function deleteItem(itemId) {
      alert("Hello!");
      fetch(`delete_item_ajax/${itemId}/`, {
          method: "DELETE",
          
      }).then(refreshItems)
      return false
  }

  document.getElementById("button_add").onclick = addItems
  document.getElementById("button_delete").onclick = deleteItem(document.getElementById("button_delete").getAttribute("data-item-id"))
</script>
{% endblock content %}
